# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
dist

# env
.env
.env.local
.env.*.local
backend/.env

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__
*.pyc
.venv
venv
.python-version

# editors
.vscode
.idea
